nav {
  height: 50px;
  padding: 20px;
  background-color: rgb(210, 210, 248);

  display: flex;
  align-items: center;
  gap: 40px;

  a {
    text-decoration: none;
    color: black;
    font-size: 20px;
    font-family: "lucida sans", "lucida sans regular", "Lucida Sans",
      "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva,
      Verdana, sans-serif;
  }
}
